p {
  font-family: Lato;
}
h1 {
  font-family: Lato;
  color: #369;
  font-size: 250%;  
}
h2 {
  font-family: Lato;
  color: #444;
  font-size: 150%;  
  font-weight: lighter;
}
body {
  margin: 2em;
}

body, input[type="text"], button{
  color: #888;
  font-family: Lato;
}

* {
  font-family: Lato;
}